In [1]:
# red라는 글자와 blue라는 글자를 20개 만들기 
# red,blue,red,blue ...
print(rep(c("red","blue"),20))

 [1] "red"  "blue" "red"  "blue" "red"  "blue" "red"  "blue" "red"  "blue"
[11] "red"  "blue" "red"  "blue" "red"  "blue" "red"  "blue" "red"  "blue"
[21] "red"  "blue" "red"  "blue" "red"  "blue" "red"  "blue" "red"  "blue"
[31] "red"  "blue" "red"  "blue" "red"  "blue" "red"  "blue" "red"  "blue"

In [2]:

 print(c(seq(1,5,2),1:10, seq(1,10,2), rep(1:3,2)))

 [1]  1  3  5  1  2  3  4  5  6  7  8  9 10  1  3  5  7  9  1  2  3  1  2  3

In [3]:
# iris  의 1~5번째 줄의 데이터만 추출해서 변수(데이터프레임)만들기
head(iris,5)
irisHead <- iris[1:5,]

  Sepal.Length Sepal.Width Petal.Length Petal.Width Species
1 5.1          3.5         1.4          0.2         setosa
2 4.9          3.0         1.4          0.2         setosa
3 4.7          3.2         1.3          0.2         setosa
4 4.6          3.1         1.5          0.2         setosa
5 5.0          3.6         1.4          0.2         setosa

In [4]:
# 행과 열을 뒤집는다.
t(irisHead)

             1      2      3      4      5
Sepal.Length 5.1    4.9    4.7    4.6    5.0
Sepal.Width  3.5    3.0    3.2    3.1    3.6
Petal.Length 1.4    1.4    1.3    1.5    1.4
Petal.Width  0.2    0.2    0.2    0.2    0.2
Species      setosa setosa setosa setosa setosa

In [5]:
# iris에서 150개 데이터 중 10번부터 10씩 증가하여 15개만 샘플링하기 

sample(iris[seq(10,nrow(iris),10),])

    Petal.Width Sepal.Width Petal.Length Sepal.Length Species
10  0.1         3.1         1.5          4.9          setosa
20  0.3         3.8         1.5          5.1          setosa
30  0.2         3.2         1.6          4.7          setosa
40  0.2         3.4         1.5          5.1          setosa
50  0.2         3.3         1.4          5.0          setosa
60  1.4         2.7         3.9          5.2          versicolor
70  1.1         2.5         3.9          5.6          versicolor
80  1.0         2.6         3.5          5.7          versicolor
90  1.3         2.5         4.0          5.5          versicolor
100 1.3         2.8         4.1          5.7          versicolor
110 2.5         3.6         6.1          7.2          virginica
120 1.5         2.2         5.0          6.0          virginica
130 1.6         3.0         5.8          7.2          virginica
140 2.1         3.1         5.4          6.9          virginica
150 1.8         3.0         5.1          5.9          virginica

In [6]:
nrow(iris) # row수 
ncol(iris) # column 수

[1] 150

[1] 5

In [7]:
# iris의 Sepal.Length의 최대값과 최소값의 차이가 평균보다 큰지 확인 
c(max(iris$Sepal.Length) - min(iris$Sepal.Length)) - round(mean(iris$Sepal.Length),2)

[1] -2.24

In [8]:
#iris에서 1~10까지의 데이터중 Sepal.Length와 Sepal.Wid만 출력
iris[1:10,1:2]
iris[1:10,c("Sepal.Length","Sepal.Width")]

   Sepal.Length Sepal.Width
1  5.1          3.5
2  4.9          3.0
3  4.7          3.2
4  4.6          3.1
5  5.0          3.6
6  5.4          3.9
7  4.6          3.4
8  5.0          3.4
9  4.4          2.9
10 4.9          3.1

   Sepal.Length Sepal.Width
1  5.1          3.5
2  4.9          3.0
3  4.7          3.2
4  4.6          3.1
5  5.0          3.6
6  5.4          3.9
7  4.6          3.4
8  5.0          3.4
9  4.4          2.9
10 4.9          3.1

In [9]:
print(head(iris))

  Sepal.Length Sepal.Width Petal.Length Petal.Width Species
1          5.1         3.5          1.4         0.2  setosa
2          4.9         3.0          1.4         0.2  setosa
3          4.7         3.2          1.3         0.2  setosa
4          4.6         3.1          1.5         0.2  setosa
5          5.0         3.6          1.4         0.2  setosa
6          5.4         3.9          1.7         0.4  setosa

In [10]:
tail(iris)

    Sepal.Length Sepal.Width Petal.Length Petal.Width Species
145 6.7          3.3         5.7          2.5         virginica
146 6.7          3.0         5.2          2.3         virginica
147 6.3          2.5         5.0          1.9         virginica
148 6.5          3.0         5.2          2.0         virginica
149 6.2          3.4         5.4          2.3         virginica
150 5.9          3.0         5.1          1.8         virginica

In [11]:
str(iris)

'data.frame':	150 obs. of  5 variables:
 $ Sepal.Length: num  5.1 4.9 4.7 4.6 5 5.4 4.6 5 4.4 4.9 ...
 $ Sepal.Width : num  3.5 3 3.2 3.1 3.6 3.9 3.4 3.4 2.9 3.1 ...
 $ Petal.Length: num  1.4 1.4 1.3 1.5 1.4 1.7 1.4 1.5 1.4 1.5 ...
 $ Petal.Width : num  0.2 0.2 0.2 0.2 0.2 0.4 0.3 0.2 0.2 0.1 ...
 $ Species     : Factor w/ 3 levels "setosa","versicolor",..: 1 1 1 1 1 1 1 1 1 1 ...

In [12]:
summary(iris)

  Sepal.Length    Sepal.Width     Petal.Length    Petal.Width
 Min.   :4.300   Min.   :2.000   Min.   :1.000   Min.   :0.100
 1st Qu.:5.100   1st Qu.:2.800   1st Qu.:1.600   1st Qu.:0.300
 Median :5.800   Median :3.000   Median :4.350   Median :1.300
 Mean   :5.843   Mean   :3.057   Mean   :3.758   Mean   :1.199
 3rd Qu.:6.400   3rd Qu.:3.300   3rd Qu.:5.100   3rd Qu.:1.800
 Max.   :7.900   Max.   :4.400   Max.   :6.900   Max.   :2.500
       Species
 setosa    :50
 versicolor:50
 virginica :50

In [13]:
# factor Type인 Species에서 문자와 숫자로 각각 가져오기
print(as.character(iris$Species))
print(as.numeric(iris$Species))

  [1] "setosa"     "setosa"     "setosa"     "setosa"     "setosa"
  [6] "setosa"     "setosa"     "setosa"     "setosa"     "setosa"
 [11] "setosa"     "setosa"     "setosa"     "setosa"     "setosa"
 [16] "setosa"     "setosa"     "setosa"     "setosa"     "setosa"
 [21] "setosa"     "setosa"     "setosa"     "setosa"     "setosa"
 [26] "setosa"     "setosa"     "setosa"     "setosa"     "setosa"
 [31] "setosa"     "setosa"     "setosa"     "setosa"     "setosa"
 [36] "setosa"     "setosa"     "setosa"     "setosa"     "setosa"
 [41] "setosa"     "setosa"     "setosa"     "setosa"     "setosa"
 [46] "setosa"     "setosa"     "setosa"     "setosa"     "setosa"
 [51] "versicolor" "versicolor" "versicolor" "versicolor" "versicolor"
 [56] "versicolor" "versicolor" "versicolor" "versicolor" "versicolor"
 [61] "versicolor" "versicolor" "versicolor" "versicolor" "versicolor"
 [66] "versicolor" "versicolor" "versicolor" "versicolor" "versicolor"
 [71] "versicolor" "versicolor" "versicolor" "versicolor" "versicolor"
 [76] "versicolor" "versicolor" "versicolor" "versicolor" "versicolor"
 [81] "versicolor" "versicolor" "versicolor" "versicolor" "versicolor"
 [86] "versicolor" "versicolor" "versicolor" "versicolor" "versicolor"
 [91] "versicolor" "versicolor" "versicolor" "versicolor" "versicolor"
 [96] "versicolor" "versicolor" "versicolor" "versicolor" "versicolor"
[101] "virginica"  "virginica"  "virginica"  "virginica"  "virginica"
[106] "virginica"  "virginica"  "virginica"  "virginica"  "virginica"
[111] "virginica"  "virginica"  "virginica"  "virginica"  "virginica"
[116] "virginica"  "virginica"  "virginica"  "virginica"  "virginica"
[121] "virginica"  "virginica"  "virginica"  "virginica"  "virginica"
[126] "virginica"  "virginica"  "virginica"  "virginica"  "virginica"
[131] "virginica"  "virginica"  "virginica"  "virginica"  "virginica"
[136] "virginica"  "virginica"  "virginica"  "virginica"  "virginica"
[141] "virginica"  "virginica"  "virginica"  "virginica"  "virginica"
[146] "virginica"  "virginica"  "virginica"  "virginica"  "virginica"
  [1] 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1
 [38] 1 1 1 1 1 1 1 1 1 1 1 1 1 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2
 [75] 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 3 3 3 3 3 3 3 3 3 3 3
[112] 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3
[149] 3 3

---
# 벡터 계산

In [14]:
x <- c(3,6,9,12,15)
print(x +1)

[1]  4  7 10 13 16

In [15]:
# 1,2,3,4,5 씩 추가 
print(x + 1:5)

[1]  4  8 12 16 20

In [16]:
# 벡터 합치기 
x <- c(3,5,6,12,15)
y <- 1:5
append(x,y)

 [1]  3  5  6 12 15  1  2  3  4  5

In [17]:
length(append(iris$Sepal.Length,iris$Sepal.Width))

[1] 300

In [18]:
length(c(iris$Sepal.Length,iris$Sepal.Width))

[1] 300

In [19]:
# iris의 Sepal.Length의 중복되지 않은 갯수의 percent 구하기 
length(unique(iris$Sepal.Length))
paste("percent :", round((length(unique(iris$Sepal.Length)) /length(iris$Sepal.Length) ) * 100,2),"%")

[1] 35

[1] "percent : 23.33 %"

In [20]:
#iris의 Sepal.Length의 중복된 갯수의 percent 구하기
cat(round((length(iris$Sepal.Length)- length(unique(iris$Sepal.Length))) / length(iris$Sepal.Length) *100 ,2),"%")

76.67 %

---
# 문자열 관련 함수

In [21]:
paste("Hello", "World!")

[1] "Hello World!"

In [22]:
# iris의 1,51,101번의 Species만 한꺼번에 출력하기
paste(iris$Species[1],":", iris$Species[51],":", iris$Species[101])

[1] "setosa : versicolor : virginica"

In [23]:
#문자열 출력
cat("Hello","\n","\rWorld!")

Hello

World!

In [24]:
cat("Hello\nWorld!")

Hello
World!

In [25]:
paste("010","1111","2222",sep="-")
paste("010","1111","2222",sep="")

[1] "010-1111-2222"

[1] "01011112222"

---
# 문자열 추출하기

In [26]:
str01 <- "abcdefghijklmn"
substring(str01,2,5)  # 2~5 
str02 <-"가나다라마바사"
substring(str02,2,5)

[1] "bcde"

[1] "나다라마"

In [27]:
# ex: 출력되는 x중 4와 7 사이에 있는 것은 몇개 인가?
set.seed(123)       #한 모양으로 고정
x <- runif(5,1,20)  #5개의 1부터 20까지의 난수 
print(x)

sum(as.numeric(x[1:length(x)] > 4) * as.numeric(x[1:length(x)] < 7))

[1]  6.463973 15.977798  8.770562 17.777331 18.868878

[1] 1

In [28]:
print(x)

[1]  6.463973 15.977798  8.770562 17.777331 18.868878

---
# 행렬 (Matrix)
### 행렬: 2차원 자료를 저장하는 자료형
### 행렬은 데이터 형태가 모두 일치 되어야 구성

In [29]:
# Vector로 행렬 만들기
ver1 <-c(1,2,3)
ver2 <-c(4,5,6)
ver3 <-c(7,8,9)

In [30]:
#  행으로 붙이기 : rbind( row binding)
mat1 <- rbind(ver1,ver2,ver3)
mat1

     [,1] [,2] [,3]
ver1 1    2    3
ver2 4    5    6
ver3 7    8    9

In [31]:
#열로 붙이기 :cbind( colum binding)
mat2 <- cbind(ver1,ver2,ver3)
mat2

     ver1 ver2 ver3
[1,] 1    4    7
[2,] 2    5    8
[3,] 3    6    9

In [32]:
# mat1의 칼럼 이름 추가 
mat1
colnames(mat1) <- c("A","B","C")
mat1

     [,1] [,2] [,3]
ver1 1    2    3
ver2 4    5    6
ver3 7    8    9

     A B C
ver1 1 2 3
ver2 4 5 6
ver3 7 8 9

In [33]:
class(mat1)  # cbind로 할시 matrix
mat1D <- as.data.frame(mat1)
class(mat1D)

[1] "matrix"

[1] "data.frame"

In [34]:
mat2
rownames(mat2) <- 1:3
print(mat2)
mat2D <- as.data.frame(mat2)
class(mat2D)

     ver1 ver2 ver3
[1,] 1    4    7
[2,] 2    5    8
[3,] 3    6    9

  ver1 ver2 ver3
1    1    4    7
2    2    5    8
3    3    6    9

[1] "data.frame"

In [35]:
#mat1D와 mat2D를 하나의 데이터 셋으로 만들기 
print(mat1D)
print(mat2D)
colnames (mat2D) <- colnames(mat1D)
rbind(mat1D,mat2D)

     A B C
ver1 1 2 3
ver2 4 5 6
ver3 7 8 9
  ver1 ver2 ver3
1    1    4    7
2    2    5    8
3    3    6    9

     A B C
ver1 1 2 3
ver2 4 5 6
ver3 7 8 9
1    1 4 7
2    2 5 8
3    3 6 9

---
# DataFrame
- 다양한 자료형으로 구성된 2차원 형태의 데이터 구조

In [36]:
# 벡터로 데이터 프레임 만들기

no <- 1:4
name <- c('Apple','Banana','Peach','Berry')
price <- c(500,400,300,200)
qty <- c(5,2,7,8)

In [37]:
fruit <- data.frame(no,name,price,qty,stringsAsFactors=F)
fruit

  no name   price qty
1 1  Apple  500   5
2 2  Banana 400   2
3 3  Peach  300   7
4 4  Berry  200   8

In [38]:
colnames(fruit) <- c('번호','상품명','금액','재고량')
fruit

  번호 상품명 금액 재고량
1 1    Apple  500  5
2 2    Banana 400  2
3 3    Peach  300  7
4 4    Berry  200  8

In [39]:
str(fruit)

'data.frame':	4 obs. of  4 variables:
 $ 번호  : int  1 2 3 4
 $ 상품명: chr  "Apple" "Banana" "Peach" "Berry"
 $ 금액  : num  500 400 300 200
 $ 재고량: num  5 2 7 8

In [40]:
summary(fruit)

      번호         상품명               금액         재고량
 Min.   :1.00   Length:4           Min.   :200   Min.   :2.00
 1st Qu.:1.75   Class :character   1st Qu.:275   1st Qu.:4.25
 Median :2.50   Mode  :character   Median :350   Median :6.00
 Mean   :2.50                      Mean   :350   Mean   :5.50
 3rd Qu.:3.25                      3rd Qu.:425   3rd Qu.:7.25
 Max.   :4.00                      Max.   :500   Max.   :8.00

In [41]:
# fruit에서 상품명과 재고량만 보기  
fruit[,c(2,4)]

  상품명 재고량
1 Apple  5
2 Banana 2
3 Peach  7
4 Berry  8

In [42]:
# fruit에서 번호를 제외한 모든 내용 보기  
fruit[,-1]

  상품명 금액 재고량
1 Apple  500  5
2 Banana 400  2
3 Peach  300  7
4 Berry  200  8

In [43]:
# fruit에서 2,4번 행을 제외한 상품명, 금액, 재고량만 출력하기
fruit[-c(2,4),-1]

  상품명 금액 재고량
1 Apple  500  5
3 Peach  300  7

In [47]:
#재고 금액(금액*재고량)이라는 칼럼 생성하여 fruit에 붙이기 
fruit$재고금액 <- fruit$금액 * fruit$재고량
fruit

  번호 상품명 금액 재고량 재고금액
1 1    Apple  500  5      2500
2 2    Banana 400  2       800
3 3    Peach  300  7      2100
4 4    Berry  200  8      1600

In [49]:
# 원산지 칼럼 추가 
fruit$원산지 <- c('한국','태국','한국','중국')
fruit

  번호 상품명 금액 재고량 재고금액 원산지
1 1    Apple  500  5      2500     한국
2 2    Banana 400  2       800     태국
3 3    Peach  300  7      2100     한국
4 4    Berry  200  8      1600     중국

---
# 외부 파일 불러오기

In [63]:
# txt File 불러오기
 txtEmp <- read.table("../Data/emp.txt",header = T,sep = "/",stringsAsFactors = F)
txtEmp

  사번 이름 급여
1 101  hong 150
2 201  lee  250
3 301  kim  300

In [62]:
str(txtEmp)

'data.frame':	3 obs. of  3 variables:
 $ 사번: int  101 201 301
 $ 이름: chr  "hong" "lee" "kim"
 $ 급여: int  150 250 300

In [76]:
# csv(Comma Seperated Value)
csvEmp <- read.csv("../Data/emp2.csv",header = F,stringsAsFactors = F)
# 사번, 이름 ,급여로 칼럼 변경하기
colnames(csvEmp) <- c('사번','이름','급여')
csvEmp

  사번 이름   급여
1 101  홍길동 150
2 102  이순신 450
3 103  강감찬 500
4 104  유관순 350
5 105  김유신 400

In [77]:
str(csvEmp)

'data.frame':	5 obs. of  3 variables:
 $ 사번: int  101 102 103 104 105
 $ 이름: chr  "홍길동" "이순신" "강감찬" "유관순" ...
 $ 급여: int  150 450 500 350 400

In [ ]:
실험2