# 기술 통계량을 계산하는 함수 정의

In [2]:
test <- read.csv("../Data/test.csv")
test

    A   B   C   D   E
1   2   4   4   2   2
2   1   2   2   2   2
3   2   3   4   3   3
4   3   5   5   3   3
5   3   2   4   4   4
6   4   3   3   4   2
7   3   4   4   2   2
8   4   2   4   4   4
9   4   4   5   3   4
10  4   2   4   2   3
11  4   4   4   3   3
12  3   1   4   3   4
13  3   2   4   3   4
14  3   4   3   4   5
15  1   3   2   2   3
16  3   4   2   3   4
17  3   2   1   1   3
18  3   3   3   4   3
19  2   2   4   3   2
20  3   4   4   3   4
21  3   4   5   2   4
22  4   3   4   2   3
23  2   2   2   1   4
24  2   3   4   3   5
25  3   4   4   2   4
26  4   2   3   3   2
27  4   4   4   4   3
28  4   4   5   3   3
29  3   2   2   3   4
30  3   2   4   3   5
... ... ... ... ... ...
373 4   4   3   4   5
374 2   3   4   3   3
375 2   4   5   3   5
376 3   3   4   2   3
377 3   2   2   2   3
378 3   2   4   2   3
379 2   4   5   2   2
380 1   2   3   1   3
381 3   1   2   3   5
382 4   3   3   3   5
383 3   4   4   3   3
384 3   4   3   4   3
385 2   2   2   2   4
386 4   3   5   4   2
387 3   2   3   3   4
388 2   4   4   3   2
389 3   2   2   1   4
390 3   2   4   2   4
391 1   2   2   2   2
392 3   2   4   3   4
393 2   4   4   3   4
394 4   3   5   3   2
395 3   1   2   1   1
396 3   4   4   3   2
397 2   3   5   2   4
398 4   3   3   2   4
399 2   4   4   2   3
400 2   2   5   2   4
401 2   3   4   2   4
402 2   2   4   2   4

In [4]:
summary(test)

       A               B               C               D              E
 Min.   :1.000   Min.   :1.000   Min.   :1.000   Min.   :1.00   Min.   :1.000
 1st Qu.:2.000   1st Qu.:2.000   1st Qu.:3.000   1st Qu.:2.00   1st Qu.:3.000
 Median :3.000   Median :3.000   Median :4.000   Median :2.00   Median :4.000
 Mean   :2.734   Mean   :2.908   Mean   :3.622   Mean   :2.51   Mean   :3.386
 3rd Qu.:3.000   3rd Qu.:4.000   3rd Qu.:4.000   3rd Qu.:3.00   3rd Qu.:4.000
 Max.   :5.000   Max.   :5.000   Max.   :5.000   Max.   :4.00   Max.   :5.000

In [7]:
# A 칼럼의 최대값, 최소값,빈도수 구하기
max(test$A)
min(test$A)
print(table(test$A))

[1] 5

[1] 1

  1   2   3   4   5
 30 133 156  80   3

In [39]:
# 각 컬럼의 빈도수 구하기 
#test[,1]
ncol(test)
for(i in 1:ncol(test)){
    cat(colnames(test)[i] ,"번째 칼럼의 빈도 분석 결과\n")
    print(table(test[,i]))
    cat("--------------------\n")
}

[1] 5

A 번째 칼럼의 빈도 분석 결과

  1   2   3   4   5
 30 133 156  80   3
--------------------
B 번째 칼럼의 빈도 분석 결과

  1   2   3   4   5
 16 150  98 131   7
--------------------
C 번째 칼럼의 빈도 분석 결과

  1   2   3   4   5
  3  74  72 176  77
--------------------
D 번째 칼럼의 빈도 분석 결과

  1   2   3   4
 30 178 153  41
--------------------
E 번째 칼럼의 빈도 분석 결과

  1   2   3   4   5
  8  81 107 160  46
--------------------

In [49]:
# 각 컬럼 빈도수의 최대값 최소값 구하기 

for(i in 1:ncol(test)){
    cat(colnames(test)[i] ,"번째 칼럼의 빈도수의 최대값,최소값\n")
    cat("최대값:",max(table(test[,i])),", 최소값 :",min(table(test[,i])),"\n")
    cat("--------------------\n")
}

A 번째 칼럼의 빈도수의 최대값,최소값
최대값: 156 , 최소값 : 3
--------------------
B 번째 칼럼의 빈도수의 최대값,최소값
최대값: 150 , 최소값 : 7
--------------------
C 번째 칼럼의 빈도수의 최대값,최소값
최대값: 176 , 최소값 : 3
--------------------
D 번째 칼럼의 빈도수의 최대값,최소값
최대값: 178 , 최소값 : 30
--------------------
E 번째 칼럼의 빈도수의 최대값,최소값
최대값: 160 , 최소값 : 8
--------------------

In [56]:
# 각 컬럼이 빈도수 구하기와 각 컬럼의 빈도수의 최대값, 최소값 구하는 함수 만들기 
tableMaxMin <- function(x){  # x라는 테이블 이름 
    for(i in 1:ncol(x)){
    f <- table(x[,i])
    cat(colnames(x)[i] ,"번째 칼럼의 빈도 분석 결과\n")
    print(f)
    cat("--------------------\n")
    cat(colnames(x)[i] ,"번째 칼럼의 빈도수의 최대값,최소값\n")
    cat("최대값:",max(f),", 최소값 :",min(f),"\n")
    cat("======================\n")
    }
}

In [54]:
tableMaxMin(test)

A 번째 칼럼의 빈도 분석 결과

  1   2   3   4   5
 30 133 156  80   3
--------------------
A 번째 칼럼의 빈도수의 최대값,최소값
최대값: 156 , 최소값 : 3
======================
B 번째 칼럼의 빈도 분석 결과

  1   2   3   4   5
 16 150  98 131   7
--------------------
B 번째 칼럼의 빈도수의 최대값,최소값
최대값: 150 , 최소값 : 7
======================
C 번째 칼럼의 빈도 분석 결과

  1   2   3   4   5
  3  74  72 176  77
--------------------
C 번째 칼럼의 빈도수의 최대값,최소값
최대값: 176 , 최소값 : 3
======================
D 번째 칼럼의 빈도 분석 결과

  1   2   3   4
 30 178 153  41
--------------------
D 번째 칼럼의 빈도수의 최대값,최소값
최대값: 178 , 최소값 : 30
======================
E 번째 칼럼의 빈도 분석 결과

  1   2   3   4   5
  8  81 107 160  46
--------------------
E 번째 칼럼의 빈도수의 최대값,최소값
최대값: 160 , 최소값 : 8
======================