In [2]:
no <- 1:4
name <- c('Apple','Banana','Peach','Berry')
price <- c(500,200,200,50)
qty <- c(5,4,3,2)

In [5]:
# 벡터를 이용하여 데이터 프레임 만들기 
fruit <- data.frame(번호=no,제품=name,금액=price,수량=qty)
fruit

  번호 제품   금액 수량
1 1    Apple  500  5
2 2    Banana 200  4
3 3    Peach  200  3
4 4    Berry   50  2

In [6]:
# 현재 메모리에 있는 변수 보기 

ls()

[1] "fruit" "name"  "no"    "price" "qty"

In [7]:
# 메모리 형태로 파일 보관

save(no,fruit,name,file = "../Data/testFruit.txt")

In [9]:
rm(no,fruit,name)

Warning message in rm(no, fruit, name):
“객체 'no'를 찾을 수 없습니다”Warning message in rm(no, fruit, name):
“객체 'name'를 찾을 수 없습니다”

In [10]:
ls()

[1] "price" "qty"

In [12]:
#   메모리로 불러오기 
load("../Data/testFruit.txt")

In [13]:
fruit

  번호 제품   금액 수량
1 1    Apple  500  5
2 2    Banana 200  4
3 3    Peach  200  3
4 4    Berry   50  2

In [14]:
ls()

[1] "fruit" "name"  "no"    "price" "qty"

In [15]:
# frui를 csv로 저장하기 
write.csv(fruit,"../Data/fruit.csv")

In [16]:
read.csv("../Data/fruit.csv")  #   x라는 rownames

  X 번호 제품   금액 수량
1 1 1    Apple  500  5
2 2 2    Banana 200  4
3 3 3    Peach  200  3
4 4 4    Berry   50  2

In [17]:
print(fruit)

  번호   제품 금액 수량
1    1  Apple  500    5
2    2 Banana  200    4
3    3  Peach  200    3
4    4  Berry   50    2

In [18]:
fruit2 <- read.csv("../Data/fruit.csv")

In [19]:
write.csv(fruit2,"../Data/fruit2.csv") # 저장

In [20]:
read.csv("../Data/fruit2.csv")      #불러오기

  X.1 X 번호 제품   금액 수량
1 1   1 1    Apple  500  5
2 2   2 2    Banana 200  4
3 3   3 3    Peach  200  3
4 4   4 4    Berry   50  2

In [23]:
# 저장시 주의 사항 :row names가 필요하지 않으면 저장하지 말아야 한다.
write.csv(fruit,"../Data/fruit.csv", row.names = F)

In [24]:
read.csv("../Data/fruit.csv")

  번호 제품   금액 수량
1 1    Apple  500  5
2 2    Banana 200  4
3 3    Peach  200  3
4 4    Berry   50  2