In [1]:
# dataset 불러오기 (모델 학습에 사용한 최종 데이터셋 csv로 저장 후 불러오기)
Cclass <- read.csv("../Data/benz_Cclass_final.csv")
Aclass <- read.csv("../Data/benz_Aclass_final.csv")
Eclass <- read.csv("../Data/benz_Eclass_final.csv")

In [2]:
head(Cclass)

  price mileage mpg  engineSize age Automatic Manual Semi_Auto Diesel Hybrid
1 1495  119000  34.5 1.8        16  0         1      0         0      0
2 1495   13800  39.8 2.7        18  1         0      0         1      0
3 1780  118000  41.5 2.2        16  1         0      0         1      0
4 2140   52700  31.4 2.0        18  1         0      0         0      0
5 2690  109000  32.1 1.8        15  1         0      0         0      0
6 3200   86000  28.2 3.5        14  1         0      0         0      0
  Petrol
1 1
2 0
3 0
4 1
5 1
6 1

In [3]:
head(Aclass)

  price mileage mpg  engineSize age Automatic Manual Semi_Auto Diesel Petrol
1 10090 45130   49.6 1.6        7   0         1      0         0      1
2 10122 49517   72.4 1.5        7   0         1      0         1      0
3 10171 80870   70.6 1.5        6   0         1      0         1      0
4 10190 32457   51.4 1.6        7   0         1      0         0      1
5 10199 39750   72.4 1.5        7   0         1      0         1      0
6 10241 54587   62.8 1.8        7   0         1      0         1      0

In [4]:
head(Eclass)

  price mileage mpg  engineSize age Automatic Manual Semi_Auto Diesel Hybrid
1 3485  79191   32.5 1.8        15  1         0      0         0      0
2 3990  60997   29.4 2.0        19  1         0      0         0      0
3 3995  73000   32.5 1.8        15  1         0      0         0      0
4 4880  58000   37.2 3.0        13  1         0      0         1      0
5 4950  99844   27.7 3.0        11  1         0      0         1      0
6 6794  69173   45.6 2.1        10  1         0      0         1      0
  Petrol
1 1
2 1
3 1
4 0
5 0
6 0

In [5]:
# 데이터 정제 
library(dplyr)

Attaching package: ‘dplyr’

The following objects are masked from ‘package:stats’:

    filter, lag

The following objects are masked from ‘package:base’:

    intersect, setdiff, setequal, union

In [6]:
str(Cclass)

'data.frame':	3520 obs. of  11 variables:
 $ price     : int  1495 1495 1780 2140 2690 3200 3495 3690 3790 3890 ...
 $ mileage   : int  119000 13800 118000 52700 109000 86000 119168 101000 99000 87000 ...
 $ mpg       : num  34.5 39.8 41.5 31.4 32.1 28.2 33.6 41.5 28.8 32.5 ...
 $ engineSize: num  1.8 2.7 2.2 2 1.8 3.5 1.8 2.2 2.5 1.8 ...
 $ age       : int  16 18 16 18 15 14 13 14 13 13 ...
 $ Automatic : int  0 1 1 1 1 1 1 1 1 1 ...
 $ Manual    : int  1 0 0 0 0 0 0 0 0 0 ...
 $ Semi_Auto : int  0 0 0 0 0 0 0 0 0 0 ...
 $ Diesel    : int  0 1 1 0 0 0 0 1 0 0 ...
 $ Hybrid    : int  0 0 0 0 0 0 0 0 0 0 ...
 $ Petrol    : int  1 0 0 1 1 1 1 0 1 1 ...

In [7]:
# transmission 컬럼 생성 
Cclass$transmission <- ifelse(Cclass$Automatic == 1, 'Automatic', ifelse(Cclass$Manual == 1, 'Manual','Semi_Auto'))
Aclass$transmission <- ifelse(Aclass$Automatic == 1, 'Automatic', ifelse(Aclass$Manual == 1, 'Manual','Semi_Auto'))
Eclass$transmission <- ifelse(Eclass$Automatic == 1, 'Automatic', ifelse(Eclass$Manual == 1, 'Manual','Semi_Auto'))

In [8]:
# fuelType 컬럼 생성 
Cclass$fuelType <- ifelse(Cclass$Diesel == 1, 'Diesel', ifelse(Cclass$Hybrid == 1, 'Hybrid','Petrol'))
Aclass$fuelType <- ifelse(Aclass$Diesel == 1, 'Diesel','Petrol')
Eclass$fuelType <- ifelse(Eclass$Diesel == 1, 'Diesel', ifelse(Eclass$Hybrid == 1, 'Hybrid','Petrol'))

In [15]:
head(Cclass)

  price mileage mpg  engineSize age transmission fuelType
1 1495  119000  34.5 1.8        16  Manual       Petrol
2 1495   13800  39.8 2.7        18  Automatic    Diesel
3 1780  118000  41.5 2.2        16  Automatic    Diesel
4 2140   52700  31.4 2.0        18  Automatic    Petrol
5 2690  109000  32.1 1.8        15  Automatic    Petrol
6 3200   86000  28.2 3.5        14  Automatic    Petrol

In [14]:
head(Aclass)

  price mileage mpg  engineSize age transmission fuelType
1 10090 45130   49.6 1.6        7   Manual       Petrol
2 10122 49517   72.4 1.5        7   Manual       Diesel
3 10171 80870   70.6 1.5        6   Manual       Diesel
4 10190 32457   51.4 1.6        7   Manual       Petrol
5 10199 39750   72.4 1.5        7   Manual       Diesel
6 10241 54587   62.8 1.8        7   Manual       Diesel

In [13]:
head(Eclass)

  price mileage mpg  engineSize age transmission fuelType
1 3485  79191   32.5 1.8        15  Automatic    Petrol
2 3990  60997   29.4 2.0        19  Automatic    Petrol
3 3995  73000   32.5 1.8        15  Automatic    Petrol
4 4880  58000   37.2 3.0        13  Automatic    Diesel
5 4950  99844   27.7 3.0        11  Automatic    Diesel
6 6794  69173   45.6 2.1        10  Automatic    Diesel

In [12]:
#필요한 컬럼 남기고 삭제 
Cclass <- Cclass[,-c(6:11)]
Aclass <- Aclass[,-c(6:10)]
Eclass <- Eclass[,-c(6:11)]

In [16]:
# 연식별 평균 가격 
Cclass연식 <- aggregate(price ~ age, Cclass, mean)
Aclass연식 <- aggregate(price ~ age, Aclass, mean)
Eclass연식 <- aggregate(price ~ age, Eclass, mean)

In [17]:
# 연료타입별 평균가격 
Cclass연료 <- aggregate(price ~ fuelType, Cclass, mean)
Aclass연료 <- aggregate(price ~ fuelType, Aclass, mean)
Eclass연료 <- aggregate(price ~ fuelType, Eclass, mean)

In [18]:
# 변속기별 평균가격 
Cclass변속기 <- aggregate(price ~ transmission, Cclass, mean)
Aclass변속기 <- aggregate(price ~ transmission, Aclass, mean)
Eclass변속기 <- aggregate(price ~ transmission, Eclass, mean)

In [19]:
# 컬럼 이름 바꾸기 
colnames(Cclass연식) <- c('value','price')
colnames(Cclass연료) <- c('value','price')
colnames(Cclass변속기) <- c('value','price')

colnames(Aclass연식) <- c('value','price')
colnames(Aclass연료) <- c('value','price')
colnames(Aclass변속기) <- c('value','price')

colnames(Eclass연식) <- c('value','price')
colnames(Eclass연료) <- c('value','price')
colnames(Eclass변속기) <- c('value','price')

In [21]:
# 3개 df 결합 
Cclass_db <- rbind(rbind(Cclass연식, Cclass연료), Cclass변속기)
Aclass_db <- rbind(rbind(Aclass연식, Aclass연료), Aclass변속기)
Eclass_db <- rbind(rbind(Eclass연식, Eclass연료), Eclass변속기)

In [22]:
Cclass_db

   value     price
1  1         28799.170
2  2         24021.329
3  3         21088.734
4  4         18608.049
5  5         15332.727
6  6         14057.165
7  7         10088.828
8  8          8896.913
9  9          8146.333
10 10         6158.444
11 11         5686.143
12 12         4990.571
13 13         4633.000
14 14         3445.000
15 15         2690.000
16 16         1637.500
17 18         1817.500
18 Diesel    21530.717
19 Hybrid    17083.974
20 Petrol    26178.250
21 Automatic 22459.455
22 Manual    14286.808
23 Semi_Auto 24669.401

In [24]:
Aclass_db

   value     price
1  1         22036.47
2  2         18595.91
3  3         15851.55
4  4         14910.90
5  5         13338.49
6  6         12067.41
7  7         11805.94
8  8         11940.00
9  Diesel    16752.53
10 Petrol    19210.21
11 Automatic 17808.06
12 Manual    15106.76
13 Semi_Auto 19442.35

In [25]:
Eclass_db

   value     price
1  1         33247.706
2  2         24005.127
3  3         21112.299
4  4         18856.174
5  5         16310.841
6  6         13418.067
7  7         12368.746
8  8          9553.444
9  9         10610.667
10 10         8145.500
11 11         4950.000
12 12        14995.000
13 13         4880.000
14 15         3740.000
15 19         3990.000
16 Diesel    23305.292
17 Petrol    37693.435
18 Automatic 22319.770
19 Semi_Auto 25855.665

In [23]:
# model 컬럼 생성 
Cclassmodel <- rep("Cclass", nrow(Cclass_db))
Aclassmodel <- rep("Aclass", nrow(Aclass_db))
Eclassmodel <- rep("Eclass", nrow(Eclass_db))
model <- c(Cclassmodel, Aclassmodel, Eclassmodel)

In [27]:
# feature 컬럼 생성 
Cclassfeature <- c(rep('age', (nrow(Cclass_db)-6)),rep('fuelType', 3) , rep('Transmission', 3))
Aclassfeature <- c(rep('age', (nrow(Aclass_db)-5)),rep('fuelType', 2) , rep('Transmission', 3))
Eclassfeature <- c(rep('age', (nrow(Eclass_db)-4)),rep('fuelType', 2) , rep('Transmission', 2))
feature <- c(Cclassfeature, Aclassfeature, Eclassfeature)

In [29]:
# 최종 df 만들기 
benz_db <- cbind(model, feature, rbind(rbind(Cclass_db, Aclass_db), Eclass_db))

In [30]:
benz_db

   model  feature      value     price
1  Cclass age          1         28799.170
2  Cclass age          2         24021.329
3  Cclass age          3         21088.734
4  Cclass age          4         18608.049
5  Cclass age          5         15332.727
6  Cclass age          6         14057.165
7  Cclass age          7         10088.828
8  Cclass age          8          8896.913
9  Cclass age          9          8146.333
10 Cclass age          10         6158.444
11 Cclass age          11         5686.143
12 Cclass age          12         4990.571
13 Cclass age          13         4633.000
14 Cclass age          14         3445.000
15 Cclass age          15         2690.000
16 Cclass age          16         1637.500
17 Cclass age          18         1817.500
18 Cclass fuelType     Diesel    21530.717
19 Cclass fuelType     Hybrid    17083.974
20 Cclass fuelType     Petrol    26178.250
21 Cclass Transmission Automatic 22459.455
22 Cclass Transmission Manual    14286.808
23 Cclass Transmission Semi_Auto 24669.401
24 Aclass age          1         22036.469
25 Aclass age          2         18595.907
26 Aclass age          3         15851.551
27 Aclass age          4         14910.900
28 Aclass age          5         13338.486
29 Aclass age          6         12067.408
30 Aclass age          7         11805.940
31 Aclass age          8         11940.000
32 Aclass fuelType     Diesel    16752.532
33 Aclass fuelType     Petrol    19210.209
34 Aclass Transmission Automatic 17808.065
35 Aclass Transmission Manual    15106.761
36 Aclass Transmission Semi_Auto 19442.354
37 Eclass age          1         33247.706
38 Eclass age          2         24005.127
39 Eclass age          3         21112.299
40 Eclass age          4         18856.174
41 Eclass age          5         16310.841
42 Eclass age          6         13418.067
43 Eclass age          7         12368.746
44 Eclass age          8          9553.444
45 Eclass age          9         10610.667
46 Eclass age          10         8145.500
47 Eclass age          11         4950.000
48 Eclass age          12        14995.000
49 Eclass age          13         4880.000
50 Eclass age          15         3740.000
51 Eclass age          19         3990.000
52 Eclass fuelType     Diesel    23305.292
53 Eclass fuelType     Petrol    37693.435
54 Eclass Transmission Automatic 22319.770
55 Eclass Transmission Semi_Auto 25855.665

In [32]:
# df 추출 
write.csv(benz_db, "../Data/benz_db.csv", row.names = F)